In [1]:
#IMPORTING NECESSARY LIBRARIES

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# LOADING AND READING THE EXCEL SHEETS

customerdemographics_data = pd.read_excel("D:\\Work Datasets\\CustomerDemographics(data_3).xlsx")

C:\Users\anann\AppData\Local\Temp\ipykernel_5136\556021019.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  customerdemographics_data = pd.read_excel("D:\\Work Datasets\\CustomerDemographics(data_3).xlsx")

In [3]:
# GETTING A GLIMPSE OF OUR CUSTOMER DEMOGRAPHICS DATA
customerdemographics_data.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [4]:
# TAKING A SUPERFICIAL OVERVIEW OF THE DATA (such as Datatypes, non-null values,etc. )
customerdemographics_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

In [5]:
# OBTAINING A SUMMARY STATISTICS ABOUT THE DATA
customerdemographics_data.describe()

       customer_id  past_3_years_bike_related_purchases       tenure
count  4000.000000                          4000.000000  3913.000000
mean   2000.500000                            48.890000    10.657041
std    1154.844867                            28.715005     5.660146
min       1.000000                             0.000000     1.000000
25%    1000.750000                            24.000000     6.000000
50%    2000.500000                            48.000000    11.000000
75%    3000.250000                            73.000000    15.000000
max    4000.000000                            99.000000    22.000000

In [6]:
# TOTAL SIZE OF DATA
customerdemographics_data.shape

(4000, 13)

In [7]:
# CHECKING WHETHER THERE ARE ANY NULL VALUES IN THE DATA
customerdemographics_data.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

# So, there exists exactly 6 columns with missing values that need to be dealt with...

In [8]:
# CHECKING WHETHER THERE ARE ANY DUPLICATE VALUES 
# CHECKING FOR UNIQUENESS IN DATA

customerdemographics_data.duplicated().sum()

0

# So, there are no duplicate values

In [9]:
# GETTING INSIGHTS FOR UNIQUE VALUES IN THE DATA
customerdemographics_data.nunique()

customer_id                            4000
first_name                             3139
last_name                              3725
gender                                    6
past_3_years_bike_related_purchases     100
DOB                                    3448
job_title                               195
job_industry_category                     9
wealth_segment                            3
deceased_indicator                        2
default                                  90
owns_car                                  2
tenure                                   22
dtype: int64

In [10]:
# FIRST SORTING THE FIRST NAMES AND THEN FILLING THE LAST NAMES
customerdemographics_data['last_name'] = customerdemographics_data.groupby('first_name').last_name.bfill().ffill()

In [11]:
customerdemographics_data['gender'].value_counts()

Female    2037
Male      1872
U           88
F            1
Femal        1
M            1
Name: gender, dtype: int64

# There are many variations for gender.So, we need to fix these...

In [12]:
# REPLACING ALL THE VARIATIONS OF THE 'MALE' AND 'FEMALE' GENDER
customerdemographics_data['gender'].replace({'M' : 'Male', 'F' : 'Female', 'Femal' : 'Female'}, inplace=True)

In [13]:
customerdemographics_data['DOB'].value_counts()

1978-01-30    7
1964-07-08    4
1962-12-17    4
1978-08-19    4
1977-05-13    4
             ..
1989-06-16    1
1998-09-30    1
1985-03-11    1
1989-10-23    1
1991-11-05    1
Name: DOB, Length: 3448, dtype: int64

In [14]:
# ENSURING THAT ALL VALUES ARE IN CORRECT DATE FORMATS
customerdemographics_data['DOB'] = customerdemographics_data['DOB'].dt.date

In [15]:
# FILLING THE MISSING DATES WITH A RANDOME DATE PRESENT IN DATA
customerdemographics_data['DOB'].fillna(lambda x: np.random.choice(customerdemographics_data['DOB']), inplace=True)

In [16]:
customerdemographics_data['job_title'].value_counts()

Business Systems Development Analyst    45
Tax Accountant                          44
Social Worker                           44
Internal Auditor                        42
Recruiting Manager                      41
                                        ..
Database Administrator I                 4
Health Coach I                           3
Health Coach III                         3
Research Assistant III                   3
Developer I                              1
Name: job_title, Length: 195, dtype: int64

In [17]:
# fill the missing datapoint using the backward filling method
customerdemographics_data['job_title']= customerdemographics_data['job_title'].fillna(method='bfill')

In [18]:
customerdemographics_data['job_industry_category'].value_counts()

Manufacturing         799
Financial Services    774
Health                602
Retail                358
Property              267
IT                    223
Entertainment         136
Argiculture           113
Telecommunications     72
Name: job_industry_category, dtype: int64

In [19]:
# FILLING THE MISSING VALUES BY THE BACKWARD FILLING METHOD
customerdemographics_data['job_industry_category']= customerdemographics_data['job_industry_category'].fillna(method='bfill')

In [20]:
customerdemographics_data['wealth_segment'].value_counts()

Mass Customer        2000
High Net Worth       1021
Affluent Customer     979
Name: wealth_segment, dtype: int64

In [21]:
customerdemographics_data['deceased_indicator'].value_counts()

N    3998
Y       2
Name: deceased_indicator, dtype: int64

In [22]:
# CONVERTING TO BOOLEAN TYPE VALUES
mapping = {'N': False, 'Y': True}
customerdemographics_data['deceased_indicator'] = customerdemographics_data['deceased_indicator'].map(mapping).fillna(customerdemographics_data['deceased_indicator'])

In [23]:
deceased = customerdemographics_data[customerdemographics_data['deceased_indicator'] == True].index
deceased

Int64Index([752, 3789], dtype='int64')

In [24]:
customerdemographics_data.drop(deceased,inplace = True)

In [25]:
customerdemographics_data['default'].value_counts()

100                                       113
1                                         112
-1                                        111
-100                                       99
Ù¡Ù¢Ù£                                     53
                                         ...
-0.5                                       31
/dev/null; touch /tmp/blns.fail ; echo     30
âªâªtestâª                                 29
ì¸ëë°í ë¥´                                 27
,ãã»:*:ã»ãâ( â» Ï â» )ãã»:*:ã»ãâ           25
Name: default, Length: 90, dtype: int64

# This column is corrupted. So, we need to drop it...

In [26]:
# DROPPING THE COLUMN WITH CORRUPT DATA
del customerdemographics_data['default']

In [27]:
customerdemographics_data['owns_car'].value_counts()

Yes    2022
No     1976
Name: owns_car, dtype: int64

In [28]:
# CONVERTING TO BOOLEAN TYPE VALUES
mapping = {'No': False, 'Yes': True}
customerdemographics_data['owns_car'] = customerdemographics_data['owns_car'].map(mapping).fillna(customerdemographics_data['owns_car'])

In [29]:
customerdemographics_data['tenure'].value_counts()

7.0     235
5.0     228
11.0    221
10.0    218
16.0    215
8.0     211
18.0    208
12.0    202
14.0    200
9.0     199
6.0     191
13.0    191
4.0     191
17.0    182
15.0    179
1.0     166
3.0     160
19.0    159
2.0     150
20.0     96
22.0     55
21.0     54
Name: tenure, dtype: int64

In [30]:
customerdemographics_data['tenure'].median()

11.0

In [31]:
# filling in the missing value for tenure with the median value
customerdemographics_data['tenure'].fillna(value = 11.0, inplace = True)

In [32]:
customerdemographics_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3998 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          3998 non-null   int64
 1   first_name                           3998 non-null   object
 2   last_name                            3998 non-null   object
 3   gender                               3998 non-null   object
 4   past_3_years_bike_related_purchases  3998 non-null   int64
 5   DOB                                  3998 non-null   object
 6   job_title                            3998 non-null   object
 7   job_industry_category                3997 non-null   object
 8   wealth_segment                       3998 non-null   object
 9   deceased_indicator                   3998 non-null   bool
 10  owns_car                             3998 non-null   bool
 11  tenure                               3998 non-null   float64
dtypes: bool(2), float64(1), int64(2), object(7)
memory usage: 351.4+ KB

# This data has been cleaned...

# The issues that existed with the data are:
#  1. There were 5 columns with missing values namely 'Last Name','DOB','Job_title','Job_industry_category & 'tenure'
#  2. There was a column named 'Default' which had corrupt values. So, it was dropped. 
#  3. The 'Gender' column had many variations. For making the values consistent, there were formatted.

In [33]:
# SAVING THIS CLEANED DATAFRAME TO A CSV FORMAT
customerdemographics_data.to_csv('D:\Work Datasets\cleaned_data_3.csv',index=False)