In [1]:
#IMPORTING NECESSARY LIBRARIES

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# LOADING AND READING THE EXCEL SHEETS

newcustomers_data = pd.read_excel("D:\\Work Datasets\\NewCustomersList(data_2).xlsx")

C:\Users\anann\AppData\Local\Temp\ipykernel_2868\1879288603.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  newcustomers_data = pd.read_excel("D:\\Work Datasets\\NewCustomersList(data_2).xlsx")

In [3]:
# GETTING A GLIMPSE OF OUR NEWCUSTOMER DATA
newcustomers_data.head()

,First_name,Last_name,Gender,Past_3_years_bike_related_purchases,DOB,Job_title,Job_industry_category,Wealth_segment,Deceased_indicator,Owns_car,...,State,Country,Property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.71,0.8875,1.109375,0.942969,1,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.61,0.6100,0.762500,0.648125,1,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,0.97,0.9700,0.970000,0.970000,1,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,0.84,1.0500,1.050000,1.050000,4,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,1.03,1.0300,1.287500,1.287500,4,4,1.703125

In [4]:
# TAKING A SUPERFICIAL OVERVIEW OF THE DATA (such as Datatypes, non-null values,etc. )
newcustomers_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   First_name                           1000 non-null   object
 1   Last_name                            971 non-null    object
 2   Gender                               1000 non-null   object
 3   Past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   Job_title                            894 non-null    object
 6   Job_industry_category                835 non-null    object
 7   Wealth_segment                       1000 non-null   object
 8   Deceased_indicator                   1000 non-null   object
 9   Owns_car                             1000 non-null   object
 10  Tenure                               1000 non-null   int64
 11  Address                              1000 non-null   object
 12  Postcode                             1000 non-null   int64
 13  State                                1000 non-null   object
 14  Country                              1000 non-null   object
 15  Property_valuation                   1000 non-null   int64
 16  Unnamed: 16                          1000 non-null   float64
 17  Unnamed: 17                          1000 non-null   float64
 18  Unnamed: 18                          1000 non-null   float64
 19  Unnamed: 19                          1000 non-null   float64
 20  Unnamed: 20                          1000 non-null   int64
 21  Rank                                 1000 non-null   int64
 22  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB

# As we can see, here are 5 empty columns that need to dropped.

In [5]:
# DROPPING THE 5 UNNAMED COLUMNS
newcustomers_data.drop(['Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20'],axis = 1, inplace = True)

In [6]:
newcustomers_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   First_name                           1000 non-null   object
 1   Last_name                            971 non-null    object
 2   Gender                               1000 non-null   object
 3   Past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   Job_title                            894 non-null    object
 6   Job_industry_category                835 non-null    object
 7   Wealth_segment                       1000 non-null   object
 8   Deceased_indicator                   1000 non-null   object
 9   Owns_car                             1000 non-null   object
 10  Tenure                               1000 non-null   int64
 11  Address                              1000 non-null   object
 12  Postcode                             1000 non-null   int64
 13  State                                1000 non-null   object
 14  Country                              1000 non-null   object
 15  Property_valuation                   1000 non-null   int64
 16  Rank                                 1000 non-null   int64
 17  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(11)
memory usage: 140.8+ KB

# So, this issue has been solved...

In [7]:
# OBTAINING A SUMMARY STATISTICS ABOUT THE DATA
newcustomers_data.describe()

,Past_3_years_bike_related_purchases,Tenure,Postcode,Property_valuation,Rank,Value
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,49.836000,11.388000,3019.227000,7.397000,498.819000,0.881714
std,27.796686,5.037145,848.895767,2.758804,288.810997,0.293525
min,0.000000,0.000000,2000.000000,1.000000,1.000000,0.340000
25%,26.750000,7.000000,2209.000000,6.000000,250.000000,0.649531
50%,51.000000,11.000000,2800.000000,8.000000,500.000000,0.860000
75%,72.000000,15.000000,3845.500000,9.000000,750.250000,1.075000
max,99.000000,22.000000,4879.000000,12.000000,1000.000000,1.718750

In [8]:
# TOTAL SIZE OF DATA
newcustomers_data.shape

(1000, 18)

In [9]:
# CHECKING WHETHER THERE ARE ANY NULL VALUES IN THE DATA
newcustomers_data.isnull().sum()

First_name                               0
Last_name                               29
Gender                                   0
Past_3_years_bike_related_purchases      0
DOB                                     17
Job_title                              106
Job_industry_category                  165
Wealth_segment                           0
Deceased_indicator                       0
Owns_car                                 0
Tenure                                   0
Address                                  0
Postcode                                 0
State                                    0
Country                                  0
Property_valuation                       0
Rank                                     0
Value                                    0
dtype: int64

# There exixts 4 columns with missing values which needs to be treated

In [10]:
# CHECKING WHETHER THERE ARE ANY DUPLICATE VALUES 
# CHECKING FOR UNIQUENESS IN DATA

newcustomers_data.duplicated().sum()

0

# So, there are no duplicate values

In [11]:
# GETTING INSIGHTS FOR UNIQUE VALUES IN THE DATA
newcustomers_data.nunique()

First_name                              940
Last_name                               961
Gender                                    3
Past_3_years_bike_related_purchases     100
DOB                                     958
Job_title                               184
Job_industry_category                     9
Wealth_segment                            3
Deceased_indicator                        1
Owns_car                                  2
Tenure                                   23
Address                                1000
Postcode                                522
State                                     3
Country                                   1
Property_valuation                       12
Rank                                    324
Value                                   324
dtype: int64

In [12]:
# FIRST SORTING THE FIRST NAMES AND THEN FILLING THE LAST NAMES
newcustomers_data['Last_name'] = newcustomers_data.groupby('First_name').Last_name.bfill().ffill()

In [13]:
newcustomers_data['Gender'].value_counts()

Female    513
Male      470
U          17
Name: Gender, dtype: int64

In [14]:
newcustomers_data[newcustomers_data.Gender == "U"]

,First_name,Last_name,Gender,Past_3_years_bike_related_purchases,DOB,Job_title,Job_industry_category,Wealth_segment,Deceased_indicator,Owns_car,Tenure,Address,Postcode,State,Country,Property_valuation,Rank,Value
59,Normy,Goodinge,U,5,NaT,Associate Professor,IT,Mass Customer,N,No,4,7232 Fulton Parkway,3810,VIC,Australia,5,57,1.375000
226,Hatti,Carletti,U,35,NaT,Legal Assistant,IT,Affluent Customer,N,Yes,11,6 Iowa Center,2519,NSW,Australia,9,226,1.112500
324,Rozamond,Turtle,U,69,NaT,Legal Assistant,IT,Mass Customer,N,Yes,3,57025 New Castle Street,3850,VIC,Australia,3,324,1.010000
358,Tamas,Swatman,U,65,NaT,Assistant Media Planner,Entertainment,Affluent Customer,N,No,5,78 Clarendon Drive,4551,QLD,Australia,8,358,0.980000
360,Tracy,Andrejevic,U,71,NaT,Programmer II,IT,Mass Customer,N,Yes,11,5675 Burning Wood Trail,3030,VIC,Australia,7,361,0.977500
374,Agneta,McAmish,U,66,NaT,Structural Analysis Engineer,IT,Mass Customer,N,No,15,5773 Acker Way,4207,QLD,Australia,6,375,0.960000
434,Gregg,Aimeric,U,52,NaT,Internal Auditor,IT,Mass Customer,N,No,7,72423 Surrey Street,3753,VIC,Australia,5,433,0.906250
439,Johna,Bunker,U,93,NaT,Tax Accountant,IT,Mass Customer,N,Yes,14,3686 Waubesa Way,3065,VIC,Australia,6,436,0.903125
574,Harlene,Nono,U,69,NaT,Human Resources Manager,IT,Mass Customer,N,No,12,0307 Namekagon Crossing,2170,NSW,Australia,7,575,0.796875
598,Gerianne,Kaysor,U,15,NaT,Project Manager,IT,Affluent Customer,N,No,5,882 Toban Lane,2121,NSW,Australia,11,599,0.775000
664,Chicky,Sinclar,U,43,NaT,Operator,IT,High Net Worth,N,Yes,0,5 Red Cloud Place,3222,VIC,Australia,4,662,0.711875
751,Adriana,Saundercock,U,20,NaT,Nurse,IT,High Net Worth,N,Yes,14,82 Gina Junction,3806,VIC,Australia,7,751,0.648125
775,Dmitri,Viant,U,62,NaT,Paralegal,Financial Services,Affluent Customer,N,No,5,95960 Warner Parkway,3842,VIC,Australia,1,774,0.626875
835,Porty,Hansed,U,88,NaT,General Manager,IT,Mass Customer,N,No,13,768 Southridge Drive,2112,NSW,Australia,11,832,0.575000
883,Shara,Bramhill,U,24,NaT,NaN,IT,Affluent Customer,N,No,2,01 Bunker Hill Drive,2230,NSW,Australia,10,883,0.531250
904,Roth,Crum,U,0,NaT,Legal Assistant,IT,Mass Customer,N,No,2,276 Anthes Court,2450,NSW,Australia,6,904,0.500000
984,Pauline,Dallosso,U,82,NaT,Desktop Support Technician,IT,Affluent Customer,N,Yes,0,9594 Badeau Street,2050,NSW,Australia,10,985,0.408000

# So, here there are exactly 17 entries with 'Unidentified' Gender.

In [15]:
newcustomers_data['DOB'].value_counts()

1998-02-05    2
1978-01-15    2
1977-11-08    2
1951-11-28    2
1979-07-28    2
             ..
1945-08-08    1
1943-08-27    1
1999-10-24    1
1976-01-24    1
1955-10-02    1
Name: DOB, Length: 958, dtype: int64

In [16]:
newcustomers_data['DOB'].nunique()

958

In [17]:
# ENSURING THAT ALL VALUES ARE IN CORRECT DATE FORMATS
newcustomers_data['DOB'] = newcustomers_data['DOB'].dt.date

In [18]:
# FILLING THE MISSING DATES WITH A RANDOME DATE PRESENT IN DATA
newcustomers_data['DOB'].fillna(lambda x: np.random.choice(newcustomers_data['DOB']), inplace=True)

In [19]:
newcustomers_data['Job_title'].value_counts()

Associate Professor         15
Environmental Tech          14
Software Consultant         14
Chief Design Engineer       13
Assistant Manager           12
                            ..
Accountant II                1
Programmer IV                1
Administrative Officer       1
Accounting Assistant III     1
Web Developer I              1
Name: Job_title, Length: 184, dtype: int64

In [20]:
newcustomers_data['Job_title'].mode()

0    Associate Professor
Name: Job_title, dtype: object

In [21]:
# fill the missing datapoint using the backward filling method
newcustomers_data['Job_title']= newcustomers_data['Job_title'].fillna(method='bfill')

In [22]:
newcustomers_data['Job_industry_category'].value_counts()

Financial Services    203
Manufacturing         199
Health                152
Retail                 78
Property               64
IT                     51
Entertainment          37
Argiculture            26
Telecommunications     25
Name: Job_industry_category, dtype: int64

In [23]:
# fill the missing datapoint using the forward filling method
newcustomers_data['Job_industry_category']= newcustomers_data['Job_industry_category'].fillna(method='ffill')

In [24]:
newcustomers_data['Wealth_segment'].value_counts()

Mass Customer        508
High Net Worth       251
Affluent Customer    241
Name: Wealth_segment, dtype: int64

In [25]:
newcustomers_data['Deceased_indicator'].value_counts()

N    1000
Name: Deceased_indicator, dtype: int64

In [26]:
# CONVERTING TO BOOLEAN TYPE VALUES
mapping = {'N': False, 'Y': True}
newcustomers_data['Deceased_indicator'] = newcustomers_data['Deceased_indicator'].map(mapping).fillna(newcustomers_data['Deceased_indicator'])

In [27]:
newcustomers_data['Owns_car'].value_counts()

No     507
Yes    493
Name: Owns_car, dtype: int64

In [28]:
mapping = {'N': False, 'Y': True}
newcustomers_data['Owns_car'] = newcustomers_data['Owns_car'].map(mapping).fillna(newcustomers_data['Owns_car'])

In [29]:
# CONVERTING ALL THE COLUMN NAMES TO A CORRECT FORMAT
newcustomers_data.columns = map(str.lower, newcustomers_data.columns)
newcustomers_data.columns = map(str.strip, newcustomers_data.columns)

In [30]:
# CHECKING WHETHER THERE ARE ANY NULL VALUES IN THE DATA
newcustomers_data.isnull().sum()

first_name                             0
last_name                              0
gender                                 0
past_3_years_bike_related_purchases    0
dob                                    0
job_title                              0
job_industry_category                  0
wealth_segment                         0
deceased_indicator                     0
owns_car                               0
tenure                                 0
address                                0
postcode                               0
state                                  0
country                                0
property_valuation                     0
rank                                   0
value                                  0
dtype: int64

In [31]:
# TAKING A SUPERFICIAL OVERVIEW OF THE DATA (such as Datatypes, non-null values,etc. )
newcustomers_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            1000 non-null   object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   dob                                  1000 non-null   object
 5   job_title                            1000 non-null   object
 6   job_industry_category                1000 non-null   object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   bool
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  rank                                 1000 non-null   int64
 17  value                                1000 non-null   float64
dtypes: bool(1), float64(1), int64(5), object(11)
memory usage: 133.9+ KB

# The data has been cleaned...

# The issues that we had in this Customer List data are:
#  1. There were unnamed columns in the excel sheet which we         got rid off
#   2. There were 4 columns with missing values namely Last Name, DOB, Job_title, Job_industry_category.
#   3. There are 17 unidentified category in the Gender column.

In [32]:
# SAVING THIS CLEANED DATAFRAME TO A CSV FORMAT
newcustomers_data.to_csv('D:\Work Datasets\cleaned_data_2.csv',index=False)